<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>461368873954-9pti05kh9v4j10eukio8avtqghbanv31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461368873954-9pti05kh9v4j10eukio8avtqghbanv31</string>
	<key>API_KEY</key>
	<string>AIzaSyALhQ8ppn4Ltwr89k1d6-O1hi7pHEsYlfY</string>
	<key>GCM_SENDER_ID</key>
	<string>461368873954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.retrorabbit.lefa</string>
	<key>PROJECT_ID</key>
	<string>nedbankdata</string>
	<key>STORAGE_BUCKET</key>
	<string>nedbankdata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461368873954:ios:cba694bb30c1b377</string>
	<key>DATABASE_URL</key>
	<string>https://nedbankdata.firebaseio.com</string>
</dict>
</plist>